.input,
.submit {
    display: inline-block;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 0;
    -webkit-appearance: none;
}

.input {
    border: 1px solid lightgray;
    font-style: italic;
    text-overflow: ellipsis;
    width: 30%;

}


.submit {
    background-color: lightgreen;
    /**
     * If the input field has a border,
     * you need it here too to achieve equal heights.
     */
    border: 1px solid transparent;
}

/**
 * Firefox Fix
 * Without that the submit button will be too high.
 */
.submit::-moz-focus-inner { 
    border: 0;
}


  
.myTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid silver; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
  font-family: Arial;

}

.myTable th {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
  background: #E0E0E0;
  position: sticky;
  top: 0px;  /* 0px if you don't have a navbar, but something is required */
  
}

.myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

.myTable tr:nth-child(even) {
  background: #E0E0E0;
}

.myTable tr.header, #myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
  cursor: pointer;
}